@naranja: #f37217;
@rojo: #ec1e26;
@gris: #353534;
@gris2: #5d5d5d;
@negro: #000000;

@menu_color1: @naranja;
@menu_background: #FFFFFF;

@cuerpo_color_articulo1: @negro;
@cuerpo_color_articulo2: @gris2;

//Pie
@footer_background: @gris;

//Responsive
@mq-xs-max: 728px;
@mq-sm-min: @mq-xs-max + 1;
@mq-sm-max: 940px;
@mq-md-min: @mq-sm-max + 1;
@mq-md-max: 1170px;
@mq-lg-min: @mq-md-max + 1;